{# @var eye_admin \Eyetronic\EyeAdminBundle\Context\AdminContext #}
{# @var setting_groups App\Entity\SettingGroup[] #}
{% extends '@EyeAdmin/dashboard-base.html.twig' %}

{% block title %}Настройки{% endblock %}

{% block content_header_title %}Настройки{% endblock %}

{% block body %}
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Название группы</th>
                <th class="list-options"></th>
            </tr>
        </thead>
        <tbody>
        {% for setting_group in setting_groups %}
            <tr>
                <td>{{ setting_group.header }}</td>
                <td class="list-actions">
                    <a class="fa fa-icons fa-pencil-square-o list-edit-button" href="{{ path('admin_setting_edit', {'id': setting_group.id}) }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
